<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
    <div class="container-fluid" >
        <form action="/api/users" class="formstyle" method="POST" name="sample" id="opt1">
        <br>
            Index: <input type="number" name="index"> 
            <br><br>
            Course Outcome : <input type="text" name="course_outcome">
            <br><br>
            Direct Assesment Tools: <input type="text" name="direct">
            <br><br>
            Indirect Assesment Tools: <input type="text" name="indirect">
            <br><br>
            <button type="submit" class="btn btn-success">Add</button>
            <button type="submit" class="btn btn-success">Dowload document</button><hr>
        </form>
        <table class="table" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Index</th> 
                    <th scope="col">Course Outcome</th>
                    <th scope="col">Direct Assessment Tools</th>
                    <th scope="col">Indirect Assessment Tools</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <%- include('show') %> 
            </tbody>
        </table>
    </div>
</body>
</html>

